/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #04deb1;
  --secondary-color: #041c34;
  --third-color: white;
  --primary-text-color: #041c34;
  --secondary-text-color: #04deb1;
  --third-text-color: white;
}

/* Set body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
}

.welcome-bar-div {
  background-color: #011e36;
  display: flex;
  color: #04deb1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logoDiv {
  display: flex;
  align-items: center;
}

.bankNavLogo {
  width: 60%;
}

.welcome-str {
  font-size: 30px;
  white-space: nowrap;
  font-weight: bold;
}

.loginBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #041c34;
  color: var(--third-text-color);
}

.login_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 20px;
}

.login-text {
  font-weight: bold;
  padding: 3px;
  margin-bottom: 5px;
}

.loginUserForm {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.inputsAcc {
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 15px;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.inputsAcc:focus {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.btnLogin {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  background-color: #04deb1;
  border: none;
  border-radius: 15px;
  transition: border-color 0.3s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}

.btnLogin:hover {
  color: #04deb1;
  background-color: #041c34;
  border: solid;
  border-color: #04deb1;
}

.navigationBar {
  height: 80px;
  background-color: #04deb1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 2px #011e36;
}

.navLinks,
.navLink {
  width: auto;
  border-radius: 5px;
  text-align: center;
  color: var(--third-text-color);
  outline: none;
  text-decoration: none;
  font-size: 20px;
  padding: 3px;

  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.navLinks:hover,
.navLink:hover {
  transform: scale(1.5);
  background-color: var(--secondary-color);
}

.homeTitleDiv {
  padding: 2em;
  background-color: var(--primary-color);
  text-align: center;
  color: #041c34;
}

.titleTypingText {
  font-size: 1.2rem;
  font-weight: bold;
  border-right: 2px solid black; /* Simulated cursor */
  white-space: nowrap; /* Prevents line wrapping */
  overflow: hidden;
  width: 0; /* Start hidden */
  display: inline-block;
  animation: typing 3s steps(30) forwards, blink 0.8s infinite;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18%;
  }
}

/* Blinking cursor effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero-subtext {
  font-size: 1rem;
  margin-top: 10px;
  color: var(--third-text-color);
}

.cta-button {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 24px;
  background-color: #041c34;
  color: var(--secondary-text-color);
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  border: 2px solid;
  border-color: var(--primary-color);
  transition: background-color 0.3s ease, transform 0.2s ease,
    border-color 0.3s ease;
}

.cta-button:hover {
  background-color: #04deb1;
  color: #041c34;
  transform: scale(1.05);
  border-color: #041c34;
}

.card-promotion {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
}

.card-promotion-img {
  width: 100%;
  height: 100%;
}

.features-section {
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
}

.features-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 900px) {
  .features-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature:nth-child(4),
.feature:nth-child(5) {
  grid-column: span 3;
}

.feature {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.features-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.feature p {
  font-size: 1rem;
  color: #555;
}

.feature-section {
  padding: 60px 20px;
  background-color: var(--secondary-color);
  text-align: center;
}

.feature-content {
  background-color: var(--primary-color);
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.feature-content h3 {
  font-size: 28px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.feature-content p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-text-color);
  max-width: 700px;
  margin-bottom: 20px;
}

.feature-image-list-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.feature-image {
  display: flex;
  justify-content: center;
}

.feature-img {
  width: 70%;

  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: 5px solid var(--third-color);
  transition: transform 0.3s ease;
}

.feature-img:hover {
  transform: scale(1.05);
}

.feature-list {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 100%;
}

.feature-list li {
  font-size: 16px;
  padding: 12px 15px;
  background-color: var(--primary-color);
  border-radius: 8px;

  transition: transform 0.2s ease, bakcground-color 0.2s ease;
}

.feature-list li:hover {
  transform: translateX(-2px);
  background-color: rgba(255, 255, 255, 0.15);
}

.feature-list li::before {
  content: "✓";
  margin-right: 10px;
  color: var(--accent-color);
  font-weight: bold;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}
