* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.registerHeader {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: greenyellow;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.newUserDiv {
  text-align: center;
  padding: 2rem;
  width: 100%;
  max-width: 550px;
  background-color: lightslategray;
  border-radius: 15px;
  margin-top: 150px;
}

.create-login-text {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.inputsAcc {
  margin: 6px;
  border-style: none;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 15px;
  padding: 6px;
  box-shadow: 3;
}

.btnCreateAcc {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  height: 40px;
  width: 200px;
  border: none;
  border-style: none;
  border-radius: 15px;
  background-color: greenyellow;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btnCreateAcc:hover {
  background-color: black;
  color: greenyellow;
}
