/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
}

.navigationBar {
  background-color: lightblue;
}

.welcome {
  margin: 5px;
}

.newUser_login_div {
  display: flex;
  padding: 5px;
}

.app {
  display: flex;
  flex-direction: column;
}

.balance {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: aquamarine;
}

/* movements and operations div css */
.movements-transfers-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: bisque;
  height: auto;
}

/* movements */

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* operations css */
.operations-container {
  background-color: pink;
  padding: 10px;
  width: 30;
}

.operation {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

/* Summary CSS */

.summary {
  display: flex;
  justify-content: space-around;
  background-color: chartreuse;
  height: 10vh;
  align-items: center;
}
