/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #04deb1;
  --secondary-color: #041c34;
  --third-color: white;
  --primary-text-color: #041c34;
  --secondary-text-color: #04deb1;
  --third-text-color: white;
}

/* Set body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
}

.welcome-bar-div {
  background-color: #011e36;
  display: flex;
  color: #04deb1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logoDiv {
  display: flex;
  align-items: center;
}

.bankNavLogo {
  width: 60%;
}
.logoDiv {
  display: flex;
  align-items: center;
}

.welcome-str {
  font-size: 30px;
  white-space: nowrap;
  font-weight: bold;
}
.loginBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #041c34;
  color: var(--third-text-color);
}

.login_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 20px;
}

.login-text {
  font-weight: bold;
  padding: 3px;
  margin-bottom: 5px;
}

.loginUserForm {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.inputsAcc {
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 15px;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.inputsAcc:focus {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.btnLogin {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  background-color: #04deb1;
  border: none;
  border-radius: 15px;
  transition: border-color 0.3s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}

.btnLogin:hover {
  color: #04deb1;
  background-color: #041c34;
  border: solid;
  border-color: #04deb1;
}

.navigationBar {
  height: 80px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-bottom: solid 2px var(--secondary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navLinks {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.navLink {
  position: relative;
  color: var(--primary-text-color);
  outline: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: inline-block;
  white-space: nowrap;
  padding-right: 20px;
}

.nav-item:has(.dropdown)::after {
  content: "\25BC";
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.nav-item:has(.dropdown):hover::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  min-width: 200px;
  border-radius: 5px;
  padding: 0.5em 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: solid 2px var(--secondary-color);
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown li {
  list-style: none;
  position: relative;
  transition: background-color 0.3s ease;
}

.dropdown li::before {
  display: none;
}

.dropdown li:hover::before {
  background-color: var(--secondary-color);
}

.dropdown li a {
  display: block;
  padding: 0.7rem 1rem;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.dropdown li:hover {
  background-color: var(--secondary-color);
}

.dropdown li:hover a {
  color: var(--secondary-text-color);
}

.navLinks::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0px;
  left: 50%;
  background-color: var(--primary-text-color);
}
.app {
  display: flex;
  flex-direction: column;
}

.app-hidden {
  opacity: 0;
}

.balance {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--secondary-color);
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: var(--secondary-text-color);
}

/* movements and operations div css */
.movements-transfers-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
  height: auto;
  max-height: 900px;
  gap: 20px;
}

/* movements */

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: var(--third-color);
  border-radius: 0.5rem;
  overflow-y: auto;
  width: 100%;
  height: auto;
}

.movements__row {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  height: auto;
  background-color: var(--third-color);
}

.movements__type {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 0.3rem 8rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.movements__date {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--primary-text-color);
}

.movements__type--deposit {
  text-align: center;
  width: 55%;
  background-image: linear-gradient(to right, #4caf50, #8bc34a);
}

.movements__type--withdrawal {
  text-align: center;
  width: 55%;
  background-image: linear-gradient(to right, #f44336, #e91e63);
}

.movements__value {
  font-size: 1.2rem;
  border-radius: 5px;
  color: var(--primary-text-color);
  margin-left: auto;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s,
    color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* pop out on movements */
.pop-out {
  padding: 5px;
  border-radius: 5px;
  transform: scale(1.2);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  color: white;
}

.withdrawal-bg {
  background-color: red;
}

.deposit-bg {
  background-color: green;
}

/* operations css */
.operations-container {
  background-color: var(--primary-color);
  padding: 0px 20px 20px 20px;
  width: 400px;
  color: var(--third-text-color);
  border-radius: 15px;
}

.operation {
  display: flex;
  flex-direction: column;
}
.operation-tag {
  margin-top: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  border-bottom: solid black 3px;
}

.form_input {
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 10px 0 20px;
}

.form_btn {
  color: var(--secondary-text-color);
  height: 40px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  transition: border-color 0.3s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form_btn:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  border: solid var(--secondary-color);
  border-color: var(--secondary-color);
}

.form_label {
  font-size: 20px;
}
/* Summary CSS */

.summary {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: var(--primary-color);
  height: 10vh;
  align-items: center;
}

.summary_label {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  font-size: 20px;
}

.summary_value {
  color: var(--secondary-color);
  font-size: 20px;
}

.btn-sort {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 80px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

/*Footer*/

.footer {
  background-color: var(--secondary-color);
  color: var(--third-text-color);
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  gap: 20px;
}

.footer-container div {
  flex: 5;
  min-width: 200px;
}

.footer h3,
.footer h4 {
  color: var(--secondary-text-color);
}

.footer p,
.footer ul,
.footer a {
  font-size: 0.9rem;
  color: #ddd;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer ul li a {
  text-decoration: none;
  color: #ddd;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: var(--secondary-text-color);
}

.social-icons a {
  font-size: 1.5rem;
  margin-right: 10px;
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--secondary-text-color);
}

.footer-newsletter {
  margin-top: 10px;
}
.footer-newsletter input {
  padding: 8px;
  width: 20%;
  border: none;
  border-radius: 5px;
}

.footer-newsletter button {
  padding: 8px 12px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid var(--third-color);
  padding-top: 15px;
}
